@{

    Layout = "~/Views/Shared/IframLayout.cshtml";


    ViewBag.Title = "ShowList";
}
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
            <i class="layui-icon">&#xe608;</i> 添加模型
        </a>

        <div class="layui-form" style="float:right;">
            <div class="layui-form-item" style="margin:0;">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" name="userkeyword" placeholder="名称/关键字" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="padding:0;">
                    <div lay-filter="search" class="layui-btn" lay-submit=""><i class="fa fa-search" aria-hidden="true"></i> 查询</div>
                </div>
            </div>
        </div>

    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>数据列表</legend>
        <div class="layui-field-box layui-form" id="content">
            <table class="layui-hide" id="test" lay-filter="demo"></table>
        </div>
    </fieldset>


</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-id="{{d.ID}}" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" data-id="{{d.ID}}" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-id="{{d.ID}}" lay-event="del">删除</a>
</script>
@*<blockquote class="layui-elem-quote layui-quote-nm" id="footer">layui {{ layui.v }} 提供强力驱动</blockquote>*@
@section scripts{

    <script>


    layui.config({
        base: '../../../Content/layui/extension/js/',
        version: '@DateTime.Now.Ticks' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'common','md5'], function () {
        var laydate = layui.laydate //日期
        , laypage = layui.laypage //分页
        layer = layui.layer //弹层
          , $ = layui.jquery
        , table = layui.table //表格
        , carousel = layui.carousel //轮播
        , upload = layui.upload //上传
        , element = layui.element //元素操作
       ,md5 = layui.md5
        , common = layui.common;




        //执行一个 table 实例
        table.render({
            elem: '#test'
          , height: 332
          , url: '@Url.Action("GetDataSource", "ARModel")' //数据接口
          , page: true //开启分页
          , cols: [[ //表头
            
           { field: 'Name', title: '模型名称', width: 120 }
            , { field: 'ArTemplate', title: '模型渲染样式', }
        
            , { field: 'Keywords', title: '关键字' }

            , { field: 'CreateTime', title: '创建时间' }
            , { field: 'UpdateTime', title: '更新时间', sort: true }
            , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
          ]]
        });
        var editBoxIndex = -1;
        //监听工具条
       var tablefn =  table.on('tool(demo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
            , layEvent = obj.event; //获得 lay-event 对应的值


                if (layEvent === 'del') {
                layer.confirm('确定删除？', function (index) {



                   // console.log(JSON.stringify(data));


                    $.ajax({
                        type: "GET",
                        url: common.renderUrl('@Url.Action("DeleteARModel", "ARModel")', {
                            id: data.ID
                        }),
               
                        dataType: "json",
                        beforeSend: function (xhr) {
                            layer.load();

                        },
                        success: function (res) {

                            if (res.Code == 0)
                            {
                                layer.msg("删除成功:");

                                obj.del();
                            }

                            layer.close("loading");
                            //layer.msg("提交成功:" + JSON.stringify(res));
                            //layer.closeAll();
                        },
                        //complete: function (res) {
                        //    console.log("提交完成:" + JSON.stringify(res))
                        //    layer.close("loading");

                        //    obj.del(); //删除对应行（tr）的DOM结构
                        //},
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            layer.close("loading");
                            layer.closeAll();
                        }
                    });

                    layer.close(index);



                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit' || layEvent === 'detail') {

                if (editBoxIndex !== -1)
                    return;

                editBoxIndex = layer.open({
                    type: 2,
                    title: '添加、修改模型',
                    shadeClose: false,
                    shade: 0.8,
                    offset: ['10px', '3%'],
                    area: ['90%', '90%'],
                    content: common.renderUrl('@Url.Action("UpdateARModel", "ARModel")', {
                        id: data.ID

                    }), //iframe的url
                    end: function () {
                        editBoxIndex = -1;

                        location.reload();
                    }
                });
            }
        });


        var addBoxIndex = -1;
        $('#add').on('click', function () {
                if (addBoxIndex !== -1)
                    return;

                addBoxIndex = layer.open({
                    type: 2,
                    title: '添加、修改AR模型',
                    shadeClose: false,
                    shade: 0.8,
                    offset: ['10px', '3%'],
                    area: ['90%', '90%'],
                    content: common.renderUrl('@Url.Action("AddARModel", "ARModel")'), //iframe的url
                end: function () {
                    addBoxIndex = -1;
                    location.reload();
                }
            });
        });
    });
    </script>
}