@{
    //Layout = "~/Areas/Administrator/Views/Shared/View.cshtml";
}
@section header
{
    <link rel="stylesheet" href="~/Content/admin/css/treetable.css" />
    <style>
        .layui-btn + .layui-btn {
            margin-left: inherit !important;
        }

        #sizesmodel input {
            text-align: center;
        }
        i.selected {
            color: red;
        }
        textarea {
            text-align: left;
        }
    </style>
}


<form class="layui-form layui-form-pane" action="" id="formEdit">
    <div class="layui-row">
        <div class="layui-tab layui-tab-brief" lay-filter="tab" style="margin: 0px">
            <ul class="layui-tab-title">
                <li class="layui-this">模型基本信息</li>
                <li>流程共用信息</li>
                <li>流程步骤</li>              
                <li>随堂练习</li>
                <li>答案编辑</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">


                @Html.AntiForgeryToken()

                <input type="hidden" value="@ViewBag.ModleID" name="modelID" id="modelID" />
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">模型名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" id="name" @*v-model="Name"*@ required lay-verify="required"
                                   placeholder="模型名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">识别关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="CNID" @*v-model="CNID"*@ id="cnid" required
                                   placeholder="请输入识别关键字" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">ab包资源</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="test1">上传ab包</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="demo1">
                                    <input type="hidden" value="" id="aburl" name="aburl" />
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">ab包名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="abObjectName" id="abObjectName" @*v-model="abObjectName"*@ class="layui-input" placeholder="ab包名称需要按照项目设置">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">所属课本</label>
                        <div class="layui-input-block">
                            <select name="bookID" lay-filter="book">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">序号</label>
                        <div class="layui-input-block">
                            <input type="number" name="Sort" id="sort" value="1" />
                        </div>
                    </div>

                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <blockquote class="layui-elem-quote">
                          
                        </blockquote>
                    </div>
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">对象名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="introduceMenuName" id="introduceMenuName" @*v-model="modeltitle"*@ class="layui-input" placeholder="请输入对象名称">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">概念定义</label>
                        <div class="layui-input-block">

                            <textarea name="introduceinfo" id="introduceinfo"
                                      placeholder="输入定义" class="layui-textarea"></textarea>
                        </div>
                    </div>

                </div>
                <div class="layui-tab-item">
                    
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>流程步骤</legend>
                    </fieldset>
                    <ul class="layui-timeline" id="structmodel">

                        <li class="layui-timeline-item ico_end listend" id="comlistend">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">结束</div>
                            </div>
                        </li>
                    </ul>
                    <div class="layui-btn" id="btnaddcompnentobj">增加</div>
                
                    <div class="layui-btn del">删除</div>
                </div>
 
                <div class="layui-tab-item">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">习题内容</label>
                        <div class="layui-input-block">
                            @*<input type="text" name="videoName" id="videoName"
                placeholder="视频别称" autocomplete="off" class="layui-input">*@
                            <textarea class="layui-textarea TextInfo" id="praticetextInfo" style="text-align:left;">
        
                            </textarea>

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">习题图例</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="btnuploadpratice">上传习题图例</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="TaskPicUrl" style="width:120px;height:120px;">
                                    <input type="hidden" name="TaskPicName" id="TaskPicName" value="" />
                                    <p id="taskDemo"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">标准答案图片名称</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="btnuploadvideo">上传标准答案图片</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="answerImgUrl" style="width:120px;height:120px;">
                                    <input type="hidden" name="AnswerPicName" id="AnswerPicName" value="" />
                                    <p id="answerDemo"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否可显示答案</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked="" id="open" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"><div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">


                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>答案编辑</legend>
                    </fieldset>
                    <ul class="layui-timeline" id="answermodel">

                        <li class="layui-timeline-item ico_end listend" id="answercomlistend">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">结束</div>
                            </div>
                        </li>
                    </ul>


               
                        <div class="layui-btn" id="btnaddanswercompnentobj">增加</div>
                     
                        <div class="layui-btn del">删除</div>
                  


                    </div>
                </div>
        </div>
    </div>
    <div class="layui-row layui-fixbar" style="right:40%">
        <div class="layui-btn layui-btn-lg" lay-submit lay-filter="formtypeModel">保存信息</div>
    </div>
    <input type="hidden" lay-submit id="btnSubmit" lay-filter="formSubmit" />
</form>

<script type="text/javascript" src="~/Content/admin/layui/layui.js"></script>

<script>


    layui.config({
        base: "/Content/admin/js/"
    }).use(['form', 'vue', 'ztree', 'layer', 'utils', 'jquery', 'table', 'droptree', 'openauth', 'element', 'upload','common'], function () {

        var $ = layui.jquery
            , common = layui.common
            , element = layui.element
            , form = layui.form
            , upload = layui.upload;
        layui.droptree("/UserSession/QueryNavList", "#ParentName", "#BelongToID", false);

        $(document).on("click", "li.layui-timeline-item", function () {
            var el = $(this).find('i.layui-timeline-axis');
            if (el) {
                $('i.selected').removeClass('selected');
                el.addClass('selected');
            }
            $(this).siblings("li.layui-timeline-item").each(function () {

                var el1 = $(this).find('i.layui-timeline-axis');

                el1.removeClass('selected');
            })
        })


        $('.layui-tab-item > .del').click(function () {

            var selected = $('i.selected').parent();

            if (selected && selected.length > 0) {
                //询问框

                var inel = selected.find('input.index');

                if (inel && inel.length > 0) {


                    layer.confirm('确定删除 内容项：' + inel.val(), {
                        btn: ['确定', '取消'] //按钮
                    }, function () {

                        var parentel = selected.parent();

                        selected.remove();

                        var elems = parentel.find('li.layui-timeline-item');

                        if (elems.length > 0) {

                            var ccnum = 1;
                            elems.each(function () {




                                var spanel = $(this).find('span.tindex');

                                var inputel = $(this).find('input.index');
                                if (spanel && spanel.length > 0) {
                                    spanel.text(ccnum);
                                }

                                if (inputel && inputel.length > 0) {
                                    inputel.val(ccnum);
                                }

                                ccnum++
                            })
                        }



                        layer.msg("移除成功")
                    }, function () {
                        return;
                    });
                }
                else {
                    layer.msg("请选中要移除的节点");
                }



            }


        })

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: common.renderUrl('/QiniuClient/CreateDir', {
                modelID: '@ViewBag.ModleID'
            })
            , field: 'modelthumb'
            ,accept:'file'
            , exts:''
            , before: function (obj) {

                layer.load(0);
            }
            , done: function (res) {


                $('#aburl').val(res.Result.path);
                var demoText = $('#demoText');
                demoText.html("ab包地址：" + res.Result.url);
                layer.msg("上传成功");

                layer.closeAll("loading");
                //如果上传失败
               // console.log(JSON.stringify(res));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


         //视频上传
        var uploadvidelInst = upload.render({
            elem: '#btnuploadvideo'
            , url: common.renderUrl('/QiniuClient/CreateDir', {
                modelID: '@ViewBag.ModleID'
            })
            , field: 'modelthumb'
            //, accept: 'file'
            //, exts:''
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#answerImgUrl').attr('src', result); //图片链接（base64）
                });

                layer.load(0);
            }
            , done: function (res) {

                $('#AnswerPicName').val(res.Result.path)
                $('#answerDemo').text("答案预览图地址：" + res.Result.url)
                layer.closeAll("loading");
               
                //如果上传失败
               // console.log(JSON.stringify(res));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#answerDemo');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadvidelInst.upload();
                });
            }
        });

      //练习题图例
        var uploadanswerInst = upload.render({
            elem: '#btnuploadpratice'
            , url: common.renderUrl('/QiniuClient/CreateDir', {
                modelID: '@ViewBag.ModleID'
            })
            , field: 'modelthumb'
     
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#TaskPicUrl').attr('src', result); //图片链接（base64）
                });

                layer.load(0);
            }
            , done: function (res) {

                $('#TaskPicName').val(res.Result.path)
              

                $("#taskDemo").text("路径地址为：" + res.Result.url )
                //<img class="layui-upload-img" id="TaskPicUrl" style="width:120px;height:120px;">
                //    <input type="hidden" name="TaskPicName" id="TaskPicName" value="" />
                //    <p id="taskDemo"></p>
                layer.closeAll("loading");
               

            
                //如果上传失败
               // console.log(JSON.stringify(res));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#taskDemo');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadanswerInst.upload();
                });
            }
        });







        var formdata = {

            getTypeItemdata: function () {
                var modelInfo = new Object();
                modelInfo.Name = $('#name').val();// "Test1";
                modelInfo.Type = "LiuCheng";// "物件";
                modelInfo.CNID = $("#cnid").val();
                modelInfo.aburl = $('#aburl').val(); //"/AssetBundles/testab";
                modelInfo.AbObjectName = $('#abObjectName').val();// "TestGo";
                modelInfo.TypeItem = new Object();
                modelInfo.TypeMethod = new Object();
                modelInfo.TypeTable = new Object();
                modelInfo.TypeCalculation = new Object();
                ///
                var TypeProcess = new Object();

               // var OverallInfo = new Object();
                TypeProcess.AbObjectName = $('#introduceMenuName').val();// "基坑概念";
                TypeProcess.Frames = $('#introduceinfo').val();//"基坑是指长宽比小于或等于3的矩形土体";
               


                ///
             
                var AnimStates = new Array();
                $('#structmodel > li.layui-timeline-item').each(function () {

                    if (this.id == 'comlistend')
                    {
                        return;
                    }
                    var Calcul1 = new Object();
                    Calcul1.Index = $(this).find('input.index').first().val();
                    Calcul1.StateInfo = $(this).find('input.info').first().val();
    

                    AnimStates.push(Calcul1);
                })

                TypeProcess.AnimStates = AnimStates;
               

         
                var Practices = new Object();
                Practices.TextInfo = $('#praticetextInfo').val();// "铲运机测试";
                Practices.TaskPicName = $('#TaskPicName').val();// "http://www.html5videoplayer.net/videos/toystory.mp4";
                Practices.AnswerPicName = $('#AnswerPicName').val();// "描述测试"
                if ($('#open').parent().find('em').text() == "ON") {
                    Practices.IsShowAnswer = true;
                }
                else
                {
                    Practices.IsShowAnswer = false;
                }



                var praticeitem = new Array();
                var answers = new Array();

                $('#answermodel > li.layui-timeline-item').each(function () {


                    if (this.id == 'answercomlistend') {
                        return;
                    }

                    var answeritem = new Object()

                    answeritem.Index = $(this).find('input.index').first().val();
                    answeritem.Text = $(this).find('input.info').first().val();
                    answers.push(answeritem);
                    praticeitem.push(answeritem.Text);
                })
                Practices.Answers = answers;
                Practices.PracObjects = praticeitem
                TypeProcess.Practices = Practices;
                modelInfo.TypeProcess = TypeProcess;
                return modelInfo;
            }
        }



  
        ///添加构建交互
        $('#btnaddcompnentobj').click(function () {


            var count = $('#structmodel > li.layui-timeline-item').length;

            var html = '<li class="layui-timeline-item">'
                + '<i class="layui-icon layui-timeline-axis"></i>'
                + '<div class="layui-timeline-content layui-text">'
                + '<h3 class="layui-timeline-title">流程:<span class="tindex">' + count + '</span> <input type="hidden" value="' + count +'" class="index" /></h3>'
                + ' <p>'
                + '<div class="layui-form-item" pane>'
                + '<label class="layui-form-label">流程描述</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" value="" lay-verify="required" class="layui-input info" />'
                + '</div>'
                + '</div>'
         

                + '</p>'
                + '</div>'
                + '</li>';
            $('#comlistend').before(html);
            form.render();

        })


        $('#btnaddanswercompnentobj').click(function () {

            var count = $('#answermodel > li.layui-timeline-item').length;

            var html = '<li class="layui-timeline-item">'
                + '<i class="layui-icon layui-timeline-axis"></i>'
                + '<div class="layui-timeline-content layui-text">'
                + '<h3 class="layui-timeline-title">答案:<span class="tindex">' + count + '</span> <input type="hidden" value="' + count + '" class="index" /></h3>'
                + ' <p>'
                + '<div class="layui-form-item" pane>'
                + '<label class="layui-form-label">答案内容</label>'
                + '<div class="layui-input-block">'
                + '<input type="text" value="" lay-verify="required" class="layui-input info" />'
                + '</div>'
                + '</div>'
    

                + '</p>'
                + '</div>'
                + '</li>';
            $('#answercomlistend').before(html);
            form.render();

        })
        //监听提交
        form.on('submit(formtypeModel)', function (data) {
            data.field.Resource = JSON.stringify( formdata.getTypeItemdata());
            $.post('/ProcessItem/Save',
                data.field,
                function (result) {
                    layer.msg(result.Message);
                },
                "json");

            return false;
        });


    })


</script>

